:root {
	--deep-blue: #00171f;
	--deep-green: #0a252e;
	--light-blue: #c9e1f1;
	--gold-yellow: #ffb400;
	--dark-gray: #565656;
	--light-gray: #c2c2c2;
}

h1,
h2,
h3,
p {
	margin: 0;
	padding: 0;
}

h1,
h2 {
	letter-spacing: 2px;
}

.previewSection {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--deep-blue);
}

.cvWrapper {
	width: min(90%, 700px);
	background-color: white;
	margin: 30px;
	box-shadow: 0 0 0 20px var(--deep-green);
}

.cv {
	display: flex;
}

.cvLeft {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 35%;
	background-color: var(--deep-blue);
	color: white;
	overflow: hidden;
	z-index: 0;
}

.cvPic-bg {
	position: absolute;
	align-self: center;
	width: 150%;
	height: 250px;
	border-radius: 50%;
	transform: translateY(-50%);
	background-color: var(--light-blue);
	z-index: -1;
}

.cvLeft h1 {
	color: var(--deep-blue);
	font-size: 25px;
	font-weight: 600;
	align-self: center;
	margin: 20px 0;
}

.cvLeft h2 {
	margin-top: 30px;
	font-size: 16px;
	font-weight: 450;
}

.cvLeft > img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	align-self: center;
}

.sectionsWrapper {
	margin: 0 10px;
}

.personalWrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.personalElement {
	display: flex;
	align-items: center;
	gap: 10px;
}

.personalElement > img {
	width: 20px;
}
.personalElement h3 {
	font-size: 12px;
}

.personalElement p {
	font-size: 10px;
	color: var(--light-gray);
}

.cvLeft ul {
	color: var(--light-gray);
	font-size: 12px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 20px 0 0;
	padding-left: 20px;
}

.cvRight {
	width: 65%;
	padding: 30px 10px;
}

.cvRight p {
	font-size: 12px;
	color: var(--dark-gray);
}

.workExpWrapper,
.educationWrapper,
.projectsWrapper,
.skillsWrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.cvRight h1 {
	font-size: 20px;
	font-weight: 700;
}

.cvRight h2 {
	font-size: 13px;
	font-weight: 700;
}

.workExpElement {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.entryHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.workExpElement > p,
.projectElement > p,
.bioText {
	font-size: 11px;
	width: 95%;
	text-align: justify;
}

.entryHeader p {
	font-size: 10px;
}

hr {
	border: 0;
	border-top: 1px solid var(--light-gray);
	margin: 20px 0;
}
