:root {
	--deep-blue: #00171f;
	--deep-green: #0a252e;
	--light-blue: #c9e1f1;
	--gold-yellow: #ffb400;
}

.sidepanel {
	background-color: var(--deep-green);
	color: white;
	padding: 10px 20px;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-top: 40px;
}

.sidepanel h1 {
	font-size: 25px;
	margin: 10px 0px;
}

.imgPicker {
	width: fit-content;
	display: flex;
	align-items: center;
	margin-top: 30px;
	margin-left: auto;
}

.imgPicker button {
	background-color: transparent;
	border: 0;
	color: white;
	font-size: 10px;
	cursor: pointer;
}

.imgPicker img {
	width: 50px;
	height: 50px;
}

label {
	display: flex;
	flex-direction: column;
	font-size: 13px;
	color: var(--gold-yellow);
	gap: 5px;
}

input,
textarea {
	border: 0;
	border-radius: 2px;
	padding: 5px;
}

textarea {
	height: 100px;
	resize: vertical;
}

.actionBtnsWrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

button.saveBtn,
button.cancelBtn {
	height: 27px;
	width: 40%;
}

button.saveBtn {
	background-color: var(--gold-yellow);
	color: var(--deep-blue);
	border: 0;
	padding: 5px 25px;
	cursor: pointer;
	font-weight: bold;
}

button.saveBtn:hover {
	border: 1px solid var(--gold-yellow);
	background-color: transparent;
	color: white;
}

button.cancelBtn {
	background-color: transparent;
	color: white;
	border: 1px solid var(--gold-yellow);
	padding: 5px 25px;
	cursor: pointer;
	font-weight: bold;
}

button.cancelBtn:hover {
	background-color: var(--gold-yellow);
	color: var(--deep-blue);
	border: 0;
}

button.addBtn {
	background-color: transparent;
	margin-top: 15px;

	padding: 0;
	border: 0;
	color: var(--light-blue);
	cursor: pointer;
}

button.addBtn:hover {
	color: var(--gold-yellow);
}

.entriesWrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 20px;
}

.entry {
	display: flex;
}

button.entryBtn {
	width: 80%;
	background-color: var(--deep-blue);
	color: var(--gold-yellow);
	border: 0;
	cursor: pointer;
}

button.entryBtn:hover {
	background-color: var(--gold-yellow);
	color: var(--deep-blue);
	border: 0;
}

button.deleteBtn {
	width: fit-content;
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

button.deleteBtn:hover {
	background-color: var(--light-blue);
}
