@font-face {
	font-family: "Roboto Slab";
	src: url("./assets/RobotoSlab.ttf") format("truetype");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

:root {
	--deep-blue: #00171f;
	--deep-green: #0a252e;
	--light-blue: #c9e1f1;
	--gold-yellow: #ffb400;
	--dark-gray: #565656;
	--light-gray: #c2c2c2;

	--fs-xl: 1.5rem;
	--fs-lg: 1.3rem;
	--fs-md: 1rem;
	--fs-sm: 0.8rem;
	--fs-xs: 0.75rem;
}

html,
body {
	margin: 0;
	padding: 0;
}

* {
	font-family: "Roboto Slab", serif;
	box-sizing: border-box;
}

@media (min-width: 1100px) {
	#root {
		height: min(100vh);
		display: grid;
		grid-template-columns: 50px 350px 1fr;
	}
}
